@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}

p {
  color: #555;
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

img {
  width: 100%;
  height: 350px;
}

.about-img {
  width: 80%;
  border-radius: 12px;
}

label {
  font-size: 1rem;
  font-weight: 400;
}

.goals {
  background-color: #c1d5a4;
}

.logo {
  font-weight: 700;
}

.svglogo {
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
/* ----------------services section---------------- */
.services-section {
  background-color: #c1d5a4;
}

.service-item {
  padding-top: 1rem;
}

.card {
  width: 25rem;
  height: 600px;
  margin-left: 8px;
  margin-right: 8px;
}

.modal-card {
  width: 25rem;
  height: 500px;
}

.card-title {
  font-family: "ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.service-card {
  border-bottom: rgb(209, 208, 208) 1px solid;
}
.card-price {
  font-size: 1.5rem;
  font-weight: bold;
}

/* ---------------navbar-------------- */
.nav-container {
  background-color: #e4e2e2;
}

.icon {
  background-color: #c1d5a4;
}
/* --------------header-------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 16px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 20px;
  padding-top: 20px;
}

.heading p {
  color: #828282;
  font-size: large;
}

/* ----------------------------goal section------------------------ */
.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.islogin {
  display: flex;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form {
  width: 80%;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 98%;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}
/* -------------------button section-------------------- */
.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

/* moda-section */
.modal-body {
  margin: 0;
}

/* ------------------Contact Section------------ */
.contact-section {
  background-color: #c1d5a4;
  margin-top: 0;
}

.containerhome {
  width: 100%;
}

.nav-container {
  width: 100%;
}

.contact-headline {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
/* ----------------------------Loding spinner---------------- */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
  .content {
    width: 100%;
  }
  .formcontainer {
    width: 100px;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 32px auto;
}

.formcontainer {
  width: 50%;
  padding-bottom: 16px;
}

.link {
  text-decoration: none;
  color: black;
}

.register-container {
  margin: 0 0 200 0;
}

/* --------- hero section----------------- */
.hero-section {
  background-color: #b1d7b4;
}

.hero {
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 450px;
}

.hero-image-container,
.hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-subhead {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  color: #000;
}

.hero-btn {
  background-color: crimson;
  color: #f4f4f4;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.hero-btn:hover {
  background-color: rgb(26, 21, 21);
  color: rgb(248, 240, 240);
  scale: 1.1;
}

@media (max-width: 780px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-heading {
    margin: 32px 0 32px 0;
  }
}

.book-nowbtn {
  transition: all 0.2s ease-in-out;
}

/* ---------form conatainer---------- */
.aboutcontainer {
  background-color: #e4e2e2;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* -------------footer----------------------- */
.footer-icon {
  font-size: 1rem;
}
.footer-icon,
.footer-content {
  color: #2c2b2b;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 10px auto;
}
.footer {
  background-color: #e4e2e2;
}
